go 1.25.7

use (
	./internal-components/events-exporter
	./internal-components/events-webapp
	./internal-components/experiment-apiservice
	./internal-components/experiment-executor
	./internal-components/fuse-errorfs
	./internal-components/go-common
	./internal-components/metrics-bridge
	./internal-components/mqtt2prom
	./internal-components/resource-to-json
	./internal-components/world-controller
	./yass-operator
)
